@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Hava - skafferi &amp; salonger</title>
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_lQaZfjVpwP_oGNqdtWCSpJT1EMqXdMiU84ekLLxQnc4.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_ZwQ4JegYk9_vB7LtvEKjfjeVcLzDAa88SNWeshZo5Jw.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_yQ6smDmleylcgmmsq2etXLXltNj1PnXpnN6uMBf3qDg.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_BUkigv0o_hYaQY5uiV9jwwF71WsmWqZeMeERTmNDBgQ.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/bootstrap/3.3.5/css/bootstrap.min.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_nfF918FkHev-pXvAFXGUeAadbtECSMf58dl2Ic1uC7w.css" media="all" />
    <!-- HTML5 element support for IE6-8 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <script src="/sites/default/files/js/js_gPM6NXOQjN2XM2JWQGfy07nKmcdDFrL289YA7h80ySs.js"></script>
    <script src="/sites/default/files/js/js_zfknOK6Pz34lw30Xsm5toXF4sk5yxEBB-TzI9ylO60s.js"></script>
    <script src="/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/sites/default/files/js/js_-jpVH83_GqEOTlbGNeyOREu69nuDuBx1czhLK4nhCog.js"></script>
   
    <script src="sites/default/files/js/js_PCySZxpBFMI6Vqfua-NwzB-0IM_m1fx8uDgio-6n310.js"></script>
    
</head>
<body class="html front  no-sidebars page-homepage navbar-is-fixed-top">
    <div id="skip-link">
        <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </div>
    <header id="navbar" role="banner" class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="logo navbar-btn pull-left" href="index.html" title="Home">
                    <img src="sites/default/files/HAVA_webblogo.svg" alt="Home" />
                </a>


                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <nav role="navigation">
                    <div class="region region-navigation">
                        <section id="block-superfish-1" class="block block-superfish clearfix">

                            <ul id="superfish-1" class="menu sf-menu sf-menu-hava-navbar sf-horizontal sf-style-none sf-total-items-7 sf-parent-items-2 sf-single-items-5 hava-nav-ul"><li id="menu-709-1" class="first odd sf-item-1 sf-depth-1 hava-nav-li sf-total-children-6 sf-parent-children-0 sf-single-children-6 menuparent"><a href="skafferi.html" class="sf-depth-1 hava-nav-links menuparent">SKAFFERI</a><ul><li id="menu-1063-1" class="first odd sf-item-1 sf-depth-2 hava-nav-li sf-no-children"><a href="skafferi.html#fika" class="sf-depth-2 hava-nav-links">FIKA</a></li><li id="menu-1065-1" class="middle even sf-item-2 sf-depth-2 hava-nav-li sf-no-children"><a href="skafferi.html#skafferimeny" class="sf-depth-2 hava-nav-links">MENY</a></li><li id="menu-832-1" class="middle odd sf-item-3 sf-depth-2 hava-nav-li sf-no-children"><a href="skafferi.html#barvin" class="sf-depth-2 hava-nav-links">VIN &amp; DRINKLISTA</a></li><li id="menu-1012-1" class="middle even sf-item-4 sf-depth-2 hava-nav-li sf-no-children"><a href="skafferi.html#lunch" class="sf-depth-2 hava-nav-links">LUNCH</a></li><li id="menu-1100-1" class="middle odd sf-item-5 sf-depth-2 hava-nav-li sf-no-children"><a href="skafferi.html#presentkort" class="sf-depth-2 hava-nav-links">PRESENTKORT</a></li><li id="menu-1123-1" class="last even sf-item-6 sf-depth-2 hava-nav-li sf-no-children"><a href="skafferi.html#konferens" class="sf-depth-2 hava-nav-links">KONFERENS</a></li></ul></li><li id="menu-1018-1" class="middle even sf-item-2 sf-depth-1 hava-nav-li sf-total-children-4 sf-parent-children-0 sf-single-children-4 menuparent"><a href="salonger.html" class="sf-depth-1 hava-nav-links menuparent">SALONGER</a><ul><li id="menu-1010-1" class="first odd sf-item-1 sf-depth-2 hava-nav-li sf-no-children"><a href="salonger.html#alacarte" class="sf-depth-2 hava-nav-links">À LA CARTE</a></li><li id="menu-1011-1" class="middle even sf-item-2 sf-depth-2 hava-nav-li sf-no-children"><a href="salonger.html#barvin" class="sf-depth-2 hava-nav-links">VIN &amp; DRINKLISTA</a></li><li id="menu-1101-1" class="middle odd sf-item-3 sf-depth-2 hava-nav-li sf-no-children"><a href="salonger.html#presentkort" class="sf-depth-2 hava-nav-links">PRESENTKORT</a></li><li id="menu-1122-1" class="last even sf-item-4 sf-depth-2 hava-nav-li sf-no-children"><a href="salonger.html#konferens" class="sf-depth-2 hava-nav-links">KONFERENS &amp; FESTVÅNING</a></li></ul></li><li id="menu-710-1" class="active-trail middle odd sf-item-3 sf-depth-1 hava-nav-li sf-no-children"><a href="index.html#oppettider" class="sf-depth-1 hava-nav-links active">ÖPPETTIDER</a></li><li id="menu-759-1" class="active-trail middle even sf-item-4 sf-depth-1 hava-nav-li sf-no-children"><a href="index.html#bokning" class="sf-depth-1 hava-nav-links active">BOKNING</a></li><li id="menu-1062-1" class="active-trail middle odd sf-item-5 sf-depth-1 hava-nav-li sf-no-children"><a href="index.html#kontakt" class="sf-depth-1 hava-nav-links active">KONTAKT</a></li><li id="menu-1064-1" class="middle even sf-item-6 sf-depth-1 hava-nav-li sf-no-children"><a href="g%c3%a5rden.html" class="sf-depth-1 hava-nav-links">GÅRDEN</a></li><li id="menu-1124-1" class="last odd sf-item-7 sf-depth-1 hava-nav-li sf-no-children"><a href="aktuellt.html" class="sf-depth-1 hava-nav-links">AKTUELLT</a></li></ul>
                        </section>
                        <section id="block-block-3" class="block block-block clearfix">

                            <div class="social_icons">
                                <div class="facebook"><a href="https://www.facebook.com/HAVA-Skafferi-Salonger-1740586642847543/?ref=py_c" target="_blank"><img alt="facebook.png" height="20" src="sites/default/files/facebook.png" width="20" /></a></div>
                                <div class="instagram"><a href="http://www.instagram.com/" target="_blank"><img alt="instagram.png" height="20" src="sites/default/files/instagram.png" width="20" /></a></div>
                            </div>
                        </section>
                        <section id="block-block-4" class="block block-block clearfix">

                            <div class="adress">SVARTBÄCKSGATAN 19, UPPSALA</div>
                        </section>
                    </div>
                </nav>
            </div>
        </div>
    </header>
        @RenderBody()
    <footer class="footer container-fluid">
        <div class="region region-footer">
            <section id="block-panels-mini-footer-mini-panel" class="block block-panels-mini clearfix">

                <div class="panel-display panel-2col clearfix" id="mini-panel-footer_mini_panel">
                    <div class="panel-panel panel-col-first">
                        <div class="inside">
                            <div class="panel-pane pane-block pane-block-6 minipanel-footer-yay" id="info">



                                <div class="pane-content">
                                    <div class="footer-info">
                                        <div class="footer-namn"><a id="footer" name="footer"></a>HAVA SKAFFERI &amp; SALONGER</div>
                                        <div class="footer-namn">SVARTBÄCKSGATAN 19, UPPSALA</div>
                                        <div class="footer-namn">
                                            TELEFON: 010-180 81 81<br />
                                            EMAIL: <a href="mailto:INFO@HAVA-SKAFFERISALONGER.SE">INFO@HAVA-SKAFFERISALONGER.SE</a><br />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel-panel panel-col-last">
                        <div class="inside">
                            <div class="panel-pane pane-block pane-footer-sitemap-footer-sitemap minipanel-footer-yay" id="sitemap">



                                <div class="pane-content">
                                    <div id="footer-sitemap" class="clearfix">
                                        <div class="fs-block-content">
                                            <div class="menu-hava-navbar">
                                                <ul class="footer_links_menu-hava-navbar total-items-7 parent-items-0 single-items-0">
                                                    <li class="menu-709 depth-1 total-children-6 parent-children-1 single-children-5  first">
                                                        <a href="skafferi.html" class="fs-root-link">SKAFFERI</a><ul class="footer_links_menu-hava-navbar total-items-6 parent-items-0 single-items-0">
                                                            <li class="menu-1063 depth-1 fs-no-children  first"><a href="skafferi.html#fika">FIKA</a></li>
                                                            <li class="menu-1065 depth-1 fs-no-children"><a href="skafferi.html#skafferimeny">MENY</a></li>
                                                            <li class="menu-832 depth-1 fs-no-children"><a href="skafferi.html#barvin">VIN &amp; DRINKLISTA</a></li>
                                                            <li class="menu-1012 depth-1 total-children-0 parent-children-0 single-children-0"><a href="skafferi.html#lunch">LUNCH</a></li>
                                                            <li class="menu-1100 depth-1 fs-no-children"><a href="skafferi.html#presentkort">PRESENTKORT</a></li>
                                                            <li class="menu-1123 depth-1 fs-no-children  last"><a href="skafferi.html#konferens">KONFERENS</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-1018 depth-1 total-children-4 parent-children-0 single-children-4">
                                                        <a href="salonger.html" class="fs-root-link">SALONGER</a><ul class="footer_links_menu-hava-navbar total-items-4 parent-items-0 single-items-0">
                                                            <li class="menu-1010 depth-1 fs-no-children  first"><a href="salonger.html#alacarte">À LA CARTE</a></li>
                                                            <li class="menu-1011 depth-1 fs-no-children"><a href="salonger.html#barvin">VIN &amp; DRINKLISTA</a></li>
                                                            <li class="menu-1101 depth-1 fs-no-children"><a href="salonger.html#presentkort">PRESENTKORT</a></li>
                                                            <li class="menu-1122 depth-1 fs-no-children  last"><a href="salonger.html#konferens">KONFERENS &amp; FESTVÅNING</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-710 depth-1 fs-no-children  active"><a href="index.html#oppettider" class="fs-root-link active">ÖPPETTIDER</a></li>
                                                    <li class="menu-759 depth-1 fs-no-children  active"><a href="index.html#bokning" class="fs-root-link active">BOKNING</a></li>
                                                    <li class="menu-1062 depth-1 fs-no-children  active"><a href="index.html#kontakt" class="fs-root-link active">KONTAKT</a></li>
                                                    <li class="menu-1064 depth-1 fs-no-children"><a href="g%c3%a5rden.html" class="fs-root-link">GÅRDEN</a></li>
                                                    <li class="menu-1124 depth-1 fs-no-children  last"><a href="aktuellt.html" class="fs-root-link">AKTUELLT</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </footer>
    <script src="sites/default/files/js/js_L50O_PWoAuMOxVjnzZCkNSSmI0kFwhZsO1_KS8WnGKw.js"></script>
</body>

</html>
