@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<div class="panel-pane pane-node start">


    <div class="pane-content">
        <article id="node-1" class="node node-page clearfix" about="/start" typeof="foaf:Document">
            <header>
                <span property="dc:title" content="" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
            </header>

            <div class="startdiv">
                <h5>
                    <a id="start" name="start"></a>
                </h5>
                <p>

                </p>
                <h2>
                    <span style="font-size: 36px">
                        <strong>Välkommen!</strong>
                    </span>
                </h2>
                <h5>
                    <span style="font-size: 22px">På Hava Skafferi &amp; Salonger förenas svensk råkultur med internationell kokkonst, baserat på det bästa från havet och gårdarna. Hit kommer man som man är, i små som stora sällskap för att uppleva genuint mathantverk. Till vardags och till fest, från dag till sena kvällar, från land till hav. Varmt välkomna till bords i Salongerna eller i Skafferiet, luta er tillbaka i Örtagården eller på vår mysiga innergård. Här finns det plats för alla att trivas och umgås. </span><br/>
                </h5>
            </div>
            <footer></footer>
        </article>
    </div>

</div>

