@{
    Layout = "Master.cshtml";
}
<div class="main-container container-fluid">
    <header role="banner" id="page-header"></header> <!-- /#page-header -->
    <div class="row">

        <section class="col-sm-12">
            <a id="main-content"></a>
            <div class="region region-content">
                <section id="block-system-main" class="block block-system clearfix">

                    <div class="panel-display panel-1col clearfix" id="homepage">
                        <div class="panel-panel panel-col">
                            <div>
                                <div class="panel-pane pane-custom pane-1 hem-anchor">



                                    <div class="pane-content">
                                        <p><a id="hem" name="hem"></a></p>
                                    </div>

                                </div>
                                <div class="panel-separator"></div><div class="panel-pane pane-node start2">



                                    <div class="pane-content">
                                        <article id="node-19" class="node node-page clearfix" about="/top-bild" typeof="foaf:Document">
                                            <header>
                                                <span property="dc:title" content="" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                                            </header>

                                            <div id="file-56" class="file file-image file-image-jpeg">
                                                <h2 class="element-invisible"><a href="file/havanowopen1338x277pxjpg.html">Hava_NowOpen_1_338x277px.jpg</a></h2>


                                                <div class="content">
                                                    <img typeof="foaf:Image" class="img-responsive" src="sites/default/files/Hava_Splash_338x277px-2.jpg" width="1280" height="480" alt="" />
                                                </div>

                                            </div>
                                            <p><a id="hem" name="hem"></a></p>
                                            <footer></footer>
                                        </article>
                                    </div>

                                </div>
                                <div class="panel-separator"></div><div class="panel-pane pane-node start">



                                    <div class="pane-content">
                                        <article id="node-1" class="node node-page clearfix" about="/start" typeof="foaf:Document">
                                            <header>
                                                <span property="dc:title" content="" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                                            </header>

                                            <div class="startdiv">
                                                <h5>
                                                    <a id="start" name="start"></a>
                                                </h5><p>

                                                </p><h2><span style="font-size:36px"><strong>Välkommen!</strong></span></h2>
                                                <h5>
                                                    <span style="font-size:22px">På Hava Skafferi &amp; Salonger förenas svensk råkultur med internationell kokkonst, baserat på det bästa från havet och gårdarna. Hit kommer man som man är, i små som stora sällskap för att uppleva genuint mathantverk. Till vardags och till fest, från dag till sena kvällar, från land till hav. Varmt välkomna till bords i Salongerna eller i Skafferiet, luta er tillbaka i Örtagården eller på vår mysiga innergård. Här finns det plats för alla att trivas och umgås. </span><br />
                                                </h5>
                                            </div>
                                            <footer></footer>
                                        </article>
                                    </div>

                                </div>
                                <div class="panel-separator"></div><div class="panel-pane pane-views pane-aktuellt aktuellt">



                                    <div class="pane-content">
                                        <div class="view view-aktuellt view-id-aktuellt view-display-id-block aktuellt-carousel view-dom-id-25c2f533755910df099b8a9ad9dcb16f">



                                            <div class="view-content">
                                                <div class="slick slick--view--aktuellt slick--view--aktuellt--block slick--skin--fullwidth slick--optionset--x-carousel slick--slider slick--center" id="slick-views-aktuellt-1">
                                                    <div id="slick-views-aktuellt-1-slider" class="slick__slider" data-slick="{&quot;autoplay&quot;:true,&quot;autoplaySpeed&quot;:2000,&quot;centerMode&quot;:true,&quot;centerPadding&quot;:&quot;0&quot;,&quot;focusOnSelect&quot;:true,&quot;lazyLoad&quot;:&quot;progressive&quot;,&quot;slide&quot;:&quot;.slick__slide&quot;,&quot;variableWidth&quot;:true}">

                                                        <div class="slick__slide slide slide--0">
                                                            <div class="slide__content">
                                                                <div>
                                                                    <div>
                                                                        <a href="skafferi%23fika.html">
                                                                            <img typeof="foaf:Image" class="img-responsive" src="sites/default/files/styles/aktuellt/public/Hava_fika_316x260px00c8.jpg?itok=iXGmxR7y" width="338" height="277" alt="" />
                                                                            <div class="field-frontpage-text">
                                                                                <p> </p>
                                                                                <p> </p>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>          <div class="slick__slide slide slide--1">
                                                            <div class="slide__content">
                                                                <div>
                                                                    <div>
                                                                        <a href="skafferi%23lunch.html">
                                                                            <img typeof="foaf:Image" class="img-responsive" src="sites/default/files/styles/aktuellt/public/lunch%20hava0bc1.jpg?itok=Na1Vymqb" width="338" height="277" alt="" />
                                                                            <div class="field-frontpage-text">
                                                                                <p> </p>
                                                                                <p> </p>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>          <div class="slick__slide slide slide--2">
                                                            <div class="slide__content">
                                                                <div>
                                                                    <div>
                                                                        <a href="havas-helgkasse.html">
                                                                            <img typeof="foaf:Image" class="img-responsive" src="sites/default/files/styles/aktuellt/public/Helgkasse_316x260px77d1.jpg?itok=vCJrXqgd" width="338" height="277" alt="" />
                                                                            <div class="field-frontpage-text">
                                                                                <p> </p>
                                                                                <p> </p>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>          <div class="slick__slide slide slide--3">
                                                            <div class="slide__content">
                                                                <div>
                                                                    <div>
                                                                        <a href="g%c3%a5rden.html">
                                                                            <img typeof="foaf:Image" class="img-responsive" src="sites/default/files/styles/aktuellt/public/Ga%25CC%258Arden_316x260px5e94.jpg?itok=Ny3EhJWU" width="338" height="277" alt="" />
                                                                            <div class="field-frontpage-text">
                                                                                <p> </p>
                                                                                <p> </p>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <nav class="slick__arrow">
                                                        <button type="button" data-role="none" class="slick-prev">Previous</button>            <button type="button" data-role="none" class="slick-next">Next</button>
                                                    </nav>
                                                </div>
                                            </div>






                                        </div>
                                    </div>

                                </div>
                                <div class="panel-separator"></div><div class="panel-pane pane-custom pane-2 openinghours-anchor">



                                    <div class="pane-content">
                                        <p><a id="oppettider" name="oppettider"></a></p>
                                    </div>

                                </div>
                                <div class="panel-separator"></div><div class="panel-pane pane-node start-openinghours-bild">



                                    <div class="pane-content">
                                        <article id="node-50" class="node node-page clearfix" about="/%C3%B6ppettider-bild" typeof="foaf:Document">
                                            <header>
                                                <span property="dc:title" content="" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                                            </header>

                                            <div id="file-88" class="file file-image file-image-jpeg">
                                                <h2 class="element-invisible"><a href="file/havaocc88ppet338x277pxjpg.html">Hava_o%CC%88ppet_338x277px.jpg</a></h2>


                                                <div class="content">
                                                    <img typeof="foaf:Image" class="img-responsive" src="sites/default/files/Hava_o%25CC%2588ppet_338x277px.jpg" width="1280" height="480" alt="" />
                                                </div>

                                            </div>
                                            <footer></footer>
                                        </article>
                                    </div>

                                </div>
                                <div class="panel-separator"></div><div class="panel-pane pane-node openinghours">



                                    <div class="pane-content">
                                        <div about="/%C3%B6ppettider-0" typeof="sioc:Item foaf:Document" class="ds-2col-stacked-fluid node node--ppettider view-mode-full  clearfix">

                                            <div class="group-header">

                                                <h2 class="field-title-openinghours">
                                                    <p>Öppettider</p>
                                                </h2>
                                            </div>
                                            <div class="group-left">
                                                <h5><strong>HAVA SKAFFERI</strong></h5>
                                                <h5>
                                                    Måndag 11.00-21.00<br />
                                                    Tisdag 11.00-22.00<br />
                                                    Onsdag &amp; Torsdag 11.00-23.00<br />
                                                    Fredag 11-00.00<br />
                                                    Lördag 12.00-00.00
                                                </h5>
                                            </div>

                                            <div class="group-right">
                                                <h5><strong>HAVA SALONGER</strong></h5>
                                                <h5>
                                                    Tisdag, Onsdag &amp; Torsdag - 17.00-23.00<br />
                                                    Fredag &amp; Lördag - 17.00-00.00<br />
                                                    Söndag &amp; Måndag - Öppet för abonnering och konferens<br />
                                                    Dagtid: Boka gärna Salongerna för Konferens eller affärslunch (minimum antal 20 personer)
                                                </h5>
                                                <p> </p>
                                            </div>

                                            <div class="group-footer">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-separator"></div><div class="panel-pane pane-custom pane-3 kontakt-anchor">



                                    <div class="pane-content">
                                        <p><a id="kontakt" name="kontakt"></a></p>
                                    </div>

                                </div>
                                <div class="panel-separator"></div><div class="panel-pane pane-node kontakt-bild">



                                    <div class="pane-content">
                                        <article id="node-56" class="node node-page clearfix" about="/kontakt-bild" typeof="foaf:Document">
                                            <header>
                                                <span property="dc:title" content="" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                                            </header>

                                            <div id="file-95" class="file file-image file-image-jpeg">
                                                <h2 class="element-invisible"><a href="file/havasplash338x277pxjpg.html">Hava_Splash_338x277px.jpg</a></h2>


                                                <div class="content">
                                                    <img typeof="foaf:Image" class="img-responsive" src="sites/default/files/Hava_Splash_338x277px.jpg" width="1280" height="480" alt="" />
                                                </div>

                                            </div>
                                            <footer></footer>
                                        </article>
                                    </div>

                                </div>
                                <div class="panel-separator"></div><div class="panel-pane pane-node kontakt">



                                    <div class="pane-content">
                                        <article id="node-53" class="node node-page clearfix" about="/kontakt" typeof="foaf:Document">
                                            <header>
                                                <span property="dc:title" content="" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                                            </header>

                                            <h2>Kontakt</h2>
                                            <h5>
                                                Välkomna att kontakta oss på telefon 010 - 180 81 81 eller<br />
                                                via email  <a href="mailto:info@hava-skafferisalonger.se">info@hava-skafferisalonger.se</a>.
                                            </h5>
                                            <h5>Bilder på Hemsidan: Majja Malmsten</h5>
                                            <footer></footer>
                                        </article>
                                    </div>

                                </div>
                                <div class="panel-separator"></div><div class="panel-pane pane-custom pane-4 bokning-anchor">



                                    <div class="pane-content">
                                        <p><a id="bokning" name="bokning"></a></p>
                                    </div>

                                </div>
                                <div class="panel-separator"></div><div class="panel-pane pane-node img-above-bokning">



                                    <div class="pane-content">
                                        <article id="node-51" class="node node-page clearfix" about="/bokning-bild" typeof="foaf:Document">
                                            <header>
                                                <span property="dc:title" content="" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                                            </header>

                                            <div id="file-89" class="file file-image file-image-jpeg">
                                                <h2 class="element-invisible"><a href="file/havabokning338x277pxjpg.html">Hava_bokning_338x277px.jpg</a></h2>


                                                <div class="content">
                                                    <img typeof="foaf:Image" class="img-responsive" src="sites/default/files/Hava_bokning_338x277px.jpg" width="1280" height="480" alt="" />
                                                </div>

                                            </div>
                                            <footer></footer>
                                        </article>
                                    </div>

                                </div>
                                <div class="panel-separator"></div><div class="panel-pane pane-node panel-bokning">



                                    <div class="pane-content">
                                        <article id="node-18" class="node node-page clearfix" about="/bokning" typeof="foaf:Document">
                                            <header>
                                                <span property="dc:title" content="" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                                            </header>

                                            <div class="bokningrubrik">BOKNING</div>
                                            <div class="bokningrubrik">
                                                <h5> </h5>
                                            </div>
                                            <div class="field-iframe">
                                                <p><div class="field-iframe-instance bokning-css"><iframe src="https://api.caspeco.net/externalBookingClient/?publicID=7065aed35d070289e3e220217264f2a9&amp;unitID=13&amp;fixedSize=1" url="https://api.caspeco.net/externalBookingClient/?publicID=7065aed35d070289e3e220217264f2a9&amp;unitID=13&amp;fixedSize=1" title="" class="field-iframe-instance bokning-css" width="100%" height="575" frameborder="0" scrolling="auto" transparency="0" tokensupport="0" html="">Your browser does not support iframes. But You can use the following link. <a href="https://api.caspeco.net/externalBookingClient/?publicID=7065aed35d070289e3e220217264f2a9&amp;unitID=13&amp;fixedSize=1" title="">Link</a></iframe></div></p>
                                            </div>
                                            <footer></footer>
                                        </article>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>

    </div>
</div>